<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Table with DataTables</title>

   <!-- Include jQuery -->
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   <!-- Include DataTables CSS and JavaScript -->
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
   <!-- Include your custom CSS file -->
   <link rel="stylesheet" type="text/css" href="..\static\table.css">

</head>
<body>
<div><h4>Add the relevant details of the user you wish to invite.</h4></div>
   <table id="userTable" class="display">
      <thead>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Test</th>
            <th>Category</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <!-- User data will be dynamically added here -->
      </tbody>
   </table>

   <form id="addUserForm">
      <label for="userName">Name:</label>
      <input type="text" id="userName" required>

      <label for="userEmail">Email:</label>
      <input type="email" id="userEmail" required>

      <fieldset>
         <legend>Test:</legend>
         <div>
            <input type="checkbox" id="EUM-I" name="userTest[]" value="EUM-I">
            <label for="EUM-I">EUM-I</label>
         </div>

         <div>
            <input type="checkbox" id="EUM-O" name="userTest[]" value="EUM-O">
            <label for="EUM-O">EUM-O</label>
         </div>
      </fieldset>

      <label for="userType">Type:</label>
      <select id="userType" required>
        <option value="Individual">Individual</option>
        <option value="Group">Other</option>
      </select>

      <button type="button" id="addUserBtn">Add User</button>
      <!-- <button type="button" id="editTable">Edit</button> -->
   </form>
   <a href="{% url 'user_activity' %}"><button><h3>View User Activity</h3></button></a>

   <!-- Include your custom JavaScript file -->
   <script type="text/javascript" src="..\static\table.js"></script>

   <!-- Include DataTables JavaScript -->
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</body>
</html>