body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid black;
    
}

#userTable th, #userTable td {
    border: 1px solid black;
}

th {
    background-color: gray;
}
 
tr:hover {
    background-color: white;
}

form {
    margin-top: 20px;
}

#addUserForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#addUserForm input {
    height: 20px;
    /* padding: 10px; */
    margin-right: 10px;

}

#addUserForm select {
    height: 20px;
    /* padding: 10px; */
    margin-right: 10px;

}

#addUserBtn {
    height: 20px;
}


fieldset {
    margin-right: 10px;
    /* padding: 10px; */
    border: 1px solid #ccc;
}

fieldset div {
    margin-bottom: 5px;
}
 